<%= form_for @recipe do |f| %>
  <h3>Title: <%= f.text_field :title %></h3>
  <ul>
    <%= f.fields_for :ingredients do |ingredient| %>
    <li>
      <%= ingredient.text_field :name %>
      <%= ingredient.text_field :quantity %>
    </li>
    <br>
    <% end %>
  </ul>
  <%=f.submit%>
<% end %>
